DEVICE_DATA/recent.json

DEVICE_DATA/xochitl/*
!DEVICE_DATA/xochitl/.gitkeep

DEVICE_DATA/templates/*
!DEVICE_DATA/templates/.gitkeep

!DEVICE_DATA/.gitkeep

DEVICE_DATA_IMAGES/*
!DEVICE_DATA_IMAGES/.gitkeep

node_modules/*

debug/*

_WebUI/*
!_WebUI/.gitkeep
!_WebUI/Html
_WebUI/Html/oldcode/*

scripts/updateRemoteDemo.resps.json
scripts/demo_files.json
scripts/updateRemoteDemo.filter
no_git/*

diskFree.json

templateEditor/*

files.json
.gitignore

rmChanges_.json
; _WebUI/Html/clientSettings.json

docker_workspace.code-workspace
