node_modules/*

# PERSONAL OR SECURITY
deviceData/pdf
deviceData/queryData
localhost-key.pem
localhost.pem
deviceData/config/lastSync.txt
deviceData/config/needsUpdate.json
deviceData/config/rm_fs.json
deviceData/custTemplates/*
public/tests/*
index.js
backend/config.json
deviceData/xochitl_BK/
