 /* ********** */
/* NAVIGATION */
/* ********** */
#navbar {
    border: 1px solid black;
    background-color: #6495ed;
}
.navButton{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    width: 200px;
    display: inline-block;
    background-color: #407ae4;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.navButton:hover{
    background-color: #86a5e0;
    cursor:pointer;
}
.navButton.active{
    background-color: #b0c4de;
}

#navViews{
    font-family: monospace;
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
}
.navView{
    display:none;
    /* height: calc(100vh - var(--header-height) - var(--footer-height)); */
    /* max-height: calc(100vh - var(--header-height) - var(--footer-height)); */
    /* max-height: 100%; */
    /* height: 100%; */
    /* background-color: skyblue; */
    width: 100%;
    height: 100%;
}
.navView.active{
    display: inline-block;
}

/* FILE NAVIGATION */
div#d3_filelist {
    width: 660px;
    min-height: 700px;
    max-height: 700px;
    /* height: calc(96vh - var(--header-height) - var(--footer-height)); */
    /* max-height: calc(96vh - var(--header-height) - var(--footer-height)); */
    overflow-y: auto;
    /* overflow: hidden; */
    border: 1px solid black;
    background-color: #efefef;
    font-family: Times New Roman;
    padding:4px;
}
div#d3_crumbs      { border-bottom: 1px dotted black;}
div#d3_collections {/* max-height: 250px; *//* overflow-y: auto; */}
div#d3_documents   {/* max-height: 650px; *//* min-height: 1em; */overflow: auto;}

/* DocumentType_file */

.DocumentType_file_outer{
    width: 190px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 2px 4px 2px #b1b1b1;
    padding: 5px;
    margin: 5px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    position: relative;
}
.DocumentType_file_outer:hover {
    background-color: #c9c9c9;
    border: 1px dotted #000000 !important;
}
.DocumentType_file_inner{}
.DocumentType_file_thumb{
    width: 175px;
    height: 233px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    vertical-align: top;
    margin: auto;
    margin-bottom: 4px;
    border: 1px solid #b1b1b1;
}
.DocumentType_file_title{
    font-size: 85%;
    height: 2em;
    line-height: 2em;
    max-height: 2em;
    /* width: 180px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    background-color: gray;
}
.DocumentType_file_info{
    vertical-align: top;
    height: 2em;
    font-size: 85%;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}
.DocumentType_file_pages{
    height: 2em;
    line-height: 2em;
    vertical-align: top;
}
.DocumentType_file_displayed{
    background-color:#c9c9c9;
    border-radius:4px;
    border:1px solid black;
    padding: 2px;
    text-align: center;
    visibility: hidden;
}
.DocumentType_file_displayed.active{
	visibility:visible;
}
.DocumentType_file_sync{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 2em;
    line-height: 2em;
    width: 2em;
}
.DocumentType_file_sync.synced{
    background-image: url(../images/cloud_synced.png);
}
.DocumentType_file_sync.notSynced{
    background-image: url(../images/cloud_not_synced.png);
}

/* CollectionType_file */
.navFileIcon{
	margin: 2px;
	border-radius: 5px;
	padding:5px;
	display: inline-block;
	padding-left: 30px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	vertical-align: top;
	display: inline-block;
	position: relative;
}
.CollectionType{
    /* margin-right: 12px; */
    /* width: 165px; */
    width: 200px;
    text-overflow: ellipsis;
}
.CollectionType.empty:before {
	content: '';
	background: url('../images/icons8-collection-16-light.png');
	background-size: 20px 20px;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: -25px;
}
.CollectionType.full:before {
	content: '';
	background: url('../images/icons8-collection-16-dark.png');
	background-size: 20px 20px;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: -25px;
}
.CollectionType:hover {
	text-decoration: underline;
	border-radius: 4px;
	background-color: #c9c9c9;
}

/* Nav breadcrumbs */
.crumb {
	margin: 2px;
	border-radius: 5px;
	padding:5px;
	/* background-color: skyblue; */
	/* font-size: 1.0em; */
	line-height: 1.0em;
	display:inline-block;
	vertical-align: bottom;
}
.crumb:hover{
	cursor:pointer;
}
.crumb:nth-child(1) {
	/* font-weight:normal; */
	/* font-size: 1.30em; */
	/* line-height: 1.0em; */
}
.crumb:last-child {
	font-weight: bold;
}
.crumb:last-child:after {
	content: '';
}
.crumb.gt_sign{
	display:inline-block;
	vertical-align: bottom;
    cursor:initial;
}

/* Document view: thumbs */
.openedDoc_thumb{
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 120px;
    border: 2px solid black;
    margin: 5px;
    background-color: whitesmoke;
    display: inline-block;
}
.openedDoc_thumb:hover{
	border: 2px solid crimson;
}
.openedDoc_thumb.active{
	border: 2px solid red;
	background-color: ghostwhite;
}

#openedDoc_thumbs {
    /* border: 1px solid black; */
    border-left: 5px solid black;
    width: 120px;
    min-height: 590px;
    /* background-color: lightgray; */
    background-color: whitesmoke;
    float: left;
    overflow-y: scroll;
    /* height: 90vh; */
    font-family: Times New Roman;
    height: calc(98vh - var(--header-height) - var(--footer-height));
    max-height: calc(98vh - var(--header-height) - var(--footer-height));
}
.openedDoc_page {
    border: 1px solid black;
    background-color: whitesmoke;
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* width: 730px; */
    /* height: 830px; */
    /* height: 944px; */
    /* height: 100%; */
    /* width: 100%; */
    /* vertical-align: top; */
    /* flex: auto; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: auto; */
}

/* Document view: pages */
div#openedDoc_dispPages {
    /* float: left; */
    min-width: 590px;
    min-height: 590px;
    /* height: 1190px; */
    /* height: 90vh; */
    /* height: 100%; */
    /* border: 1px solid black; */
    /* height: calc(98vh - var(--header-height) - var(--footer-height)); */
    /* max-height: calc(98vh - var(--header-height) - var(--footer-height)); */
    /* overflow: scroll; */
    /* background-color: whitesmoke; */
    /* min-width: 80%; */
    /* width: min-content; */
    display: flex;
    justify-content: flex-start;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: auto; */
    background-color: whitesmoke;
}

div#sync_output {
    white-space: pre-wrap;
    background-color: rgba(255,255,255,0.75);
    border: 1px solid black;
    min-height: 1em;
    margin: 5px;
    font-family: monospace;
    font-size: 12px;
    max-width: 520px;
    min-width: 520px;
    height: 320px;
    overflow-y: scroll;
}

.neededUpdateDiv {
    white-space: pre;
    background-color: rgba(255,255,255,0.75);
    border: 1px solid black;
    max-width: 750px;
    padding: 5px;
    font-size: 14px;
    /*     font-family: monospace, ui-monospace; */
    font-family: ui-monospace, monospace;
    /*     font-family: monospace; */
    /*     font-family: ui-monospace; */
    /* 	font-family: "ui-monospace", "monospace"; */
}

div#convert_output {
    white-space: pre-wrap;
    background-color: rgba(255,255,255,0.75);
    border: 1px solid black;
    min-height: 1em;
    margin: 5px;
    font-family: monospace;
    font-size: 12px;
    max-width: 520px;
    min-width: 520px;
    height: 200px;
    overflow-y: scroll;
}

div#navbar_debug2_view_inner {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

div#navbar_fileNav_view_inner {
    display: flex;
}

div#d3_sidedata {
    /* background-color: red; */
    background-color: dodgerblue;
    width: 1.5em;
    overflow:hidden;
    display: flex;
    transition: width 500ms;
    padding: 1px;
}
/* div#d3_sidedata:hover, */
div#d3_sidedata.expanded{
    width: 300px;
    /* padding: 1px; */
    transition: width 500ms;
}
div#d3_sidedata .expandDiv {
    background-color: cadetblue;
    /* width: 1em; */
    /* width: 300px; */
    /* overflow:hidden; */
    display: flex;
    text-align: center;
    align-items: center;
}
div#d3_sidedata .dataDiv{
    /* width:0px; */
    /* transition: width 1s; */
    /* display: none; */
    white-space: nowrap;
}
div#d3_sidedata.expanded .dataDiv{
    /* background-color: dodgerblue; */
    /* background-color: blue; */
    width: 100%;
    overflow:hidden;
    /* display: flex; */
    /* display: block; */
    /* white-space: nowrap; */
}

div#fileView1_container {
    /* border: 1px solid black; */
    /* display: inline-block; */
    /* display: inline; */
    padding: 4px;
    border-radius: 4px;
    background-color: purple;
    display: inline-flex;
    flex-direction: row;
    transform-origin: top left;
    transform: scale(1);
}

span#navbar_fileNav_view_inner_expandIcon {
    font-size: 1.5em;
    /* display: block; */
}


/* DELETION */
#files_to_delete_container{
    border:1px solid black;
    margin:1px;
    padding:1px; 
}
/* #files_to_delete_info{ */
    /* border:1px solid black; */
    /* margin:1px; */
    /* padding: 4px; */
/* } */
#files_to_delete_deleteSelected{
    border:1px solid black;
    margin:1px;
    padding:1px; 
}
#files_to_delete_checkAll{
    border:1px solid black;
    margin:1px;
    padding:1px; 
}
#files_to_delete_uncheckAll{
    border:1px solid black;
    margin:1px;
    padding:1px; 
}
#files_to_delete_output{
    border:1px solid black;
    margin:1px;
    padding: 4px;
}
table.deletionRecord{
    border: 1px solid black;
    /* margin: 0px; */
    margin-bottom:5px;
    /* width: 100%; */
}
table.deletionRecord td:nth-child(1){background-color: darkgray;font-weight: bold;white-space: pre;width: 85px;}
table.deletionRecord td:nth-child(2){background-color: lightgray;font-family: monospace;}

.delete_uuid.delete_uuid_DocumentType:hover{
    cursor:pointer;
    background-color:powderblue;
}

.deleteButton{
    height: 25px;
    width: 50px;
    font-size:60%;
    vertical-align: text-bottom;
    margin: 2px;
    border: 3px solid gray;
}
.deleteButton.active{
    font-weight: bold;
    font-size:100%;
}

.deleteNo{}
.deleteNo.active{
    border: 3px solid mediumseagreen;
}
.deleteYes{}
.deleteYes.active{
    border: 3px solid red;
}