 /* ********** */
/* NAVIGATION */
/* ********** */
#navbar {
    border: 1px solid black;
    background-color: #6495ed;
}
.navButton{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    width: 200px;
    display: inline-block;
    background-color: #407ae4;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.navButton:hover{
    background-color: #86a5e0;
    cursor:pointer;
}
.navButton.active{
    background-color: #b0c4de;
}

#navViews{
    font-family: monospace;
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
}
.navView{
    display:none;
    /* height: calc(100vh - var(--header-height) - var(--footer-height)); */
    /* max-height: calc(100vh - var(--header-height) - var(--footer-height)); */
    /* max-height: 100%; */
    /* height: 100%; */
    background-color: skyblue;
    width: 100%;
}
.navView.active{
    display: inline-block;
}

/* FILE NAVIGATION */
div#d3_filelist {
    width: 620px;
    /* min-height: 720px; */
    /* height: calc(96vh - var(--header-height) - var(--footer-height)); */
    /* max-height: calc(96vh - var(--header-height) - var(--footer-height)); */
    overflow-y: auto;
    border: 1px solid black;
    background-color: #efefef;
    font-family: Times New Roman;
}

/* DocumentType_file */

.DocumentType_file_outer{
    width: 190px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 2px 4px 2px #b1b1b1;
    padding: 5px;
    margin: 5px;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    position: relative;
}
.DocumentType_file_outer:hover {
    background-color: #c9c9c9;
    border: 1px dotted #000000 !important;
}
.DocumentType_file_inner{}
.DocumentType_file_thumb{
    width: 175px;
    height: 233px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    vertical-align: top;
    margin: auto;
    margin-bottom: 4px;
    border: 1px solid #b1b1b1;
}
.DocumentType_file_title{
    font-size: 85%;
    height: 2em;
    line-height: 2em;
    max-height: 2em;
    /* width: 180px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px;
    background-color: gray;
}
.DocumentType_file_info{
    vertical-align: top;
    height: 2em;
    font-size: 85%;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}
.DocumentType_file_pages{
    height: 2em;
    line-height: 2em;
    vertical-align: top;
}
.DocumentType_file_displayed{
    background-color:#c9c9c9;
    border-radius:4px;
    border:1px solid black;
    padding: 2px;
    text-align: center;
    visibility: hidden;
}
.DocumentType_file_displayed.active{
	visibility:visible;
}
.DocumentType_file_sync{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 2em;
    line-height: 2em;
    width: 2em;
}
.DocumentType_file_sync.synced{
    background-image: url(../images/cloud_synced.png);
}
.DocumentType_file_sync.notSynced{
    background-image: url(../images/cloud_not_synced.png);
}

/* CollectionType_file */
.navFileIcon{
	margin: 2px;
	border-radius: 5px;
	padding:5px;
	display: inline-block;
	padding-left: 30px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
	vertical-align: top;
	display: inline-block;
	position: relative;
}
.CollectionType{
    /* margin-right: 12px; */
    /* width: 165px; */
    width: 200px;
    text-overflow: ellipsis;
}
.CollectionType.empty:before {
	content: '';
	background: url('../images/icons8-collection-16-light.png');
	background-size: 20px 20px;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: -25px;
}
.CollectionType.full:before {
	content: '';
	background: url('../images/icons8-collection-16-dark.png');
	background-size: 20px 20px;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: -25px;
}
.CollectionType:hover {
	text-decoration: underline;
	border-radius: 4px;
	background-color: #c9c9c9;
}

/* Nav breadcrumbs */
.crumb {
	margin: 2px;
	border-radius: 5px;
	padding:5px;
	/* background-color: skyblue; */
	/* font-size: 1.0em; */
	line-height: 1.0em;
	display:inline-block;
	vertical-align: bottom;
}
.crumb:hover{
	cursor:pointer;
}
.crumb:nth-child(1) {
	/* font-weight:normal; */
	/* font-size: 1.30em; */
	/* line-height: 1.0em; */
}
.crumb:last-child {
	font-weight: bold;
}
.crumb:last-child:after {
	content: '';
}
.crumb.gt_sign{
	display:inline-block;
	vertical-align: bottom;
    cursor:initial;
}

/* Document view: thumbs */
.openedDoc_thumb{
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 120px;
    border: 2px solid black;
    margin: 5px;
    background-color: whitesmoke;
    display: inline-block;
}
.openedDoc_thumb:hover{
	border: 2px solid crimson;
}
.openedDoc_thumb.active{
	border: 2px solid red;
	background-color: antiquewhite;
}

#openedDoc_thumbs {
    border: 1px solid black;
    width: 220px;
    background-color: lightgray;
    float: left;
    overflow-y: scroll;
    /* height: 90vh; */
    font-family: Times New Roman;
    height: calc(98vh - var(--header-height) - var(--footer-height));
    max-height: calc(98vh - var(--header-height) - var(--footer-height));
}
.openedDoc_page {
    /* border: 1px solid black; */
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 730px; */
    /* height: 830px; */
    /* height: 85vh; */
    height: 100%;
    width: 100%;
}

/* Document view: pages */
div#openedDoc_dispPages {
    float: left;
    width: 630px;
    /* height: 830px; */
    /* height: 90vh; */
    /* height: 100%; */
    border: 1px solid black;
    height: calc(98vh - var(--header-height) - var(--footer-height));
    max-height: calc(98vh - var(--header-height) - var(--footer-height));
}