@import 'rpt_navbar.css';
@import 'rpt_view_nav.css';
@import 'pageflip.css';
@import 'rpt_view_settings.css';

/*
	COLORS	
	bg1: #b1b1b1 (darker main color, .rpt_nav_bar_button.active, some borders)
	bg2: #efefef (lighter main color)
	bg3: #e4e4e4 (.collectionType:hover, .file_box:hover, .rpt_nav_bar_button:hover)
	bg3: #c9c9c9 (.collectionType:hover, .file_box:hover, .rpt_nav_bar_button:hover)
*/

* { 
	box-sizing: border-box; 
}

html,body{
	/* height:100%; */
	/* 	height:100vw; */
}
html {
}

body {
	background-color: black !important;
	margin: 0;
	padding: 0;
	border: none;
}

#no_data{
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	height: 120px;
	width: 895px;
}
#no_data .no_data_box{
	border-radius: 10px;
	border: 1px solid black;
	background-color: #ffffaf;
	display: inline-block;
	padding: 10px;
}
#no_data .no_data_line1{
	font-weight:bold;
	text-decoration:underline;
	font-size: 250%;
}
#no_data .no_data_line2{
	font-size: 175%;
}

#rpt_full_wrapper{
	background-color: #b1b1b1;
	width: 1270px;
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
	margin: auto;
	padding: 5px;
	/* position:relative; */
	overflow-x: hidden;
	overflow-y: hidden;
}

#rpt_title_bar{
	min-height:1em;
	display: none;
	padding:5px;
}

#rpt_main_box{
	background-color:#efefef;
	/* min-height:1em; */
	height: 836px;
	border: 1px solid black;
	/* border-top: none; */
	border-radius: 5px;
}

#rpt_footer_bar{
	/* background-color:rgb(216, 60, 12); */
	min-height:1em;
	padding:5px;
	/* clear: both; */
}

.views{
	display: none;
	/* height: 156px; */
	/* background-color: crimson; */
	/* height: 98%; */
	/* height: 100%; */
	/* width: 100%; */
}
.views.active{
	display:block;
}
