#rpt_nav_bar_view_settings .controls_table1{
	width: 100%;
	font-size:1.2em
}
#rpt_nav_bar_view_settings .controls_table1 td{
	vertical-align:top;
}
#rpt_nav_bar_view_settings .controls_table1 td:nth-child(1){
}

#rpt_nav_bar_view_settings .controls_table1 tr td{
    padding:5px;
}
#rpt_nav_bar_view_settings .controls_table1 tr:nth-child(odd){
/* 	opacity:0.1; */
    background-color:lightgray;
}
#rpt_nav_bar_view_settings .controls_table1 tr:nth-child(even){/* 	opacity:1.0; */background-color: darkgrey;}

#rpt_nav_bar_view_settings .controls_table1 button{
	width: 100%;
}



#rpt_nav_bar_view_settings_sync_progress.box{
	display:flex;
	flex-flow:column;
	/* height:100%; */
	border: 1px solid black;
	background-color: #b1b1b1;
}
#rpt_nav_bar_view_settings_sync_progress.box .row{
/* 	border: 1px dotted black; */
}
#rpt_nav_bar_view_settings_sync_progress.box .row.header{
	flex: 0 1 auto;
	/* 	display:none */
	border-bottom: 1px solid black;
	text-align:center;
	font-size:125%;
	background-color: #b1b1b1;
	padding: 5px;
}
#rpt_nav_bar_view_settings_sync_progress.box .row.content{
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
	overflow-y: auto;
	white-space: pre;
	font-family: monospace;
	background-color: #efefef;
	padding: 5px;
}
#rpt_nav_bar_view_settings_sync_progress.box .row.footer{
	/* flex: 0 1 40px; */
/* 	flex: 0 1 auto; */
	display:none
}

#rpt_nav_bar_view_settings_sync_progress {
	height: 450px;
	margin: 5px;
	/* 	background-color: cornflowerblue; */
	/* padding:5px; */
}
#rpt_nav_bar_view_settings_sync_progress.hide {
	display:none; 
}