#navBar {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    /* display: inline-block; */
    width: 350px;
}
.navBar_tab.active {
    /* background-color: var(--color-primary-1); */
    background-color: crimson;
}
.navBar_tab {
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 2px;
    padding: 4px;
    width: 100px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
}
#navViews {
    /* border: 1px solid black; */
}
.navBar_view {
    /* border: 1px solid black; */
    display: none;
}
.navBar_view.active {
    display: block;
}

/* THUMBNAILS */
.thumbnailImg_container{border: 1px solid black;margin: 2px;padding: 5px;display: inline-block;font-size: 12px;font-family: monospace;text-align: center;}
.thumbnailImg{
    border: 2px dashed black;
    margin: 5px;
    cursor: pointer;
}
.thumbnailImg:hover{border-color:red;background-color: rgba(64,64,64,0.25);}
.thumbnailImg_row1{}
.thumbnailImg_row2{}
.thumbnailImg_row3{}

/* PAGES */
#page_select{}
#page_data{}
#page_div{ margin-top: 5px; }
img#page_img {
    border: 2px dashed black;
}

/* MISC */

#rmfsRec_textarea{width: 460px;height: 200px;font-family: monospace;white-space: pre;}
#metadata_textarea{ width: 460px; height: 215px; font-family: monospace; white-space: pre; }
#content_textarea{width: 460px;height: 400px;font-family: monospace;white-space: pre;}
